.container-user {
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
    justify-content: center; /* Centra los hijos verticalmente */
    align-items: center; /* Centra los hijos horizontalmente */
    height: 70%; /* O la altura que prefieras */
    position: relative;
    margin-top: 80px;
    width: 100%;
}

.container-imguser {
    /* Estilos existentes para .container-imguser */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    cursor: pointer; /* Indica que se puede hacer clic en la imagen */
    position: absolute; /* Posiciona el contenedor de la imagen */
    top: -100px; /* Ajusta esto para 'sobresalir' */
    z-index: 1; /* Asegura que el contenedor de la imagen esté por encima del contenido adicional */
    
}

.container-imguser img {
    width: 200px; /* Tamaño de la imagen, ajusta según sea necesario */
    height: 200px; /* Tamaño de la imagen, ajusta según sea necesario */
    border-radius: 50%; /* Esto es para mantener la imagen redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio disponible */
    display: block; /* Asegura que la imagen no tenga espacio extra alrededor como un inline-block */
}

.container-imguser.show-info {
    background-color: #2D9596; /* El color de fondo cuando se muestra la información */
    z-index: 2; /* Asegúrate de que está sobre el contenido adicional */
    border-radius: 50%; /* El radio de la frontera si quieres esquinas redondeadas */
    /* Puedes necesitar ajustar el tamaño y la posición para acomodar el nuevo contenido */
}

.additional-content {
    display: flex;
    flex-direction: row; /* Distribuye los hijos horizontalmente */
    justify-content: space-around; /* Distribuye el espacio uniformemente alrededor de los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    width: 70%;
    padding: 20px;
    background-color: #2D9596;
    border-radius: 20px;
    /* Asegúrate de que el contenedor sea lo suficientemente grande como para mostrar todos los elementos */
}

.container-FirstName, .container-LastName, .container-email {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 10px 0; 
    color: #fff;
    font-size: 30px;
}