
<div class="container-user">
    <ng-container *ngIf="root">

        <div class="container-FirstName">
            <p> {{root.firstName}}</p>
            <p> {{root.age}}</p>
        </div>

        <div class="container-imguser">
            <img src="/assets/images/usuario.png" alt="">
            <p> {{root.username}}</p>
        </div>

        <div class="container-LastName">
            <p> {{root.lastName}}</p>
       
            <p> {{root.gender}}</p>
        </div>
        
        <div class="container-email">
            <p> {{root.email}}</p>
      
            <p> {{root.id}}</p>
        </div>
      
      
    </ng-container>

</div>

