
<div class="header-container">
    <h1>Buscar</h1>
    <div class="form-group">
        <form #form="ngForm" (ngSubmit)="buscarUsuario()">
            <div class="input-container" [class.expanded]="isInputExpanded" (mouseleave)="isInputExpanded && toggleInput()">
                <input type="text" id="username" name="username" [(ngModel)]="txtuser" class="input-field" placeholder="Buscar Usuario" *ngIf="isInputExpanded">
                <button type="button" id="botonConImagen" (click)="realizarBusqueda()" (mouseenter)="expandInput()">
                    <img src="/assets/images/search.png" alt="Buscar"/>
                  </button>
            </div>
        </form>
    </div>
</div>

<br>
<app-barra-busqueda [root] = "usuario" ></app-barra-busqueda>
<br>
<app-post [id] = "usuario?.id"></app-post>
