/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif; /* Asegúrate de reemplazar 'Roboto' con el nombre de tu fuente */
  }

  :host {
    display: block;
    box-sizing: border-box;
    min-height: 100vh; /* Esto asegura que el componente se estire al menos a la altura completa de la ventana del navegador */
    background-color: #F1FADA; /* Reemplaza #colorDeFondo con el código de color que prefieras */
}
