/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%; /* Ocupa todo el ancho de la ventana */
  margin: 0; /* Quita cualquier margen por defecto */
  padding: 0; /* Quita cualquier padding por defecto */
 
}
body {
    font-family: 'Roboto', sans-serif; /* Asegúrate de reemplazar 'Roboto' con el nombre de tu fuente */
    background-color: #F1FADA;
  }
